@using SK.Library.Classes.Session
@using SK.Library.Enums
@model SK.Library.Classes.Models.Challenges.NewChallengeViewModel
@{
    ViewBag.Title = "Create Challenge";

    List<SelectListItem> friends = SessionManager.GetCurrentUser().Friends.Select(x => new SelectListItem() {Text = x.AthleteName, Value = x.AthleteEmail}).ToList();

}

    @if (Model.ChallengeStatus == ChallengeStatus.Proposed && !Model.HasError)
    {
        <h3>Challenge has been proposed to @Model.ChallengeeEmail</h3>
        <a href="/Challenge/CreateChallenge">Create another challenge</a>
    }
    else
    {
        using (Html.BeginForm())
        {
            <div class="error">
                @Model.ErrorMessage
            </div>

            <div class="editor-label">
                <label>@SessionManager.GetCurrentUser().AthleteEmail</label>
            </div>
            <div class="editor-label">
                @Html.DropDownListFor(model => model.ChallengeeEmail, friends, "Select Friend")
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(model => model.StartTime, new {placeholder = "Challenge Start Date"})
            </div>

            <div class="editor-label">
                @Html.TextBoxFor(model => model.EndTime, new {placeholder = "Challenge End Date"})
            </div>
            <div class="editor-label">
                @Html.EnumDropDownListFor(model=>model.ChallengeType, "Select Challenge Type")
            </div>
            <div class="editor-label">
                @Html.EnumDropDownListFor(model => model.ChallengeType, "Select Challenge Type")
            </div>
            <input type="submit" value="Propose Challenge"/>
        }
    }